# Title
Short noun phrase

## Status
Proposed, accepted, superseded

## Context
Description of the ptoblem and alternative solutions available (documentation)

## Decision
Decision and justification (the 'Why')

## Consequences
The trade-offs and impact of the decision
